:root {
  --body-background: #242333;
  --show-case-background: rgba(0, 0, 0, 0.1);
  --avail-seat: #444451;
  --selected-seat: #6feaf6;
  --light: #fff;
  --soft-dark: #777;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

*:focus {
  outline: none;
}

body {
  background-color: var(--body-background);
}

.container {
  width: 35%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-select-container {
  color: var(--light);
  margin: auto;
  font-size: 16px;
  width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-select-container select {
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 190px;
}

.symbols {
  width: 290px;
  height: auto;
  padding: 5px 5px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px;
  background: var(--show-case-background);
  color: var(--soft-dark);
}
.symbol-container {
  min-width: 60px;
  font-size: 14px;
}

.demo-container {
  width: 260px;
  margin-bottom: 20px;
  perspective: 2000px;
}

.presentation {
  width: 100%;
  height: 75px;
  background: var(--light);
  transform: rotateX(-55deg);
  box-shadow: 0 5px 10px rgb(255 255 255 / 70%);
  margin-bottom: 40px;
}
.seat {
  color: var(--avail-seat);
}
.selected {
  color: var(--selected-seat);
}
.occupied {
  color: var(--light);
}

.row {
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
}
.row .seat {
  width: 22px;
  height: 30px;
}
.row .seat:not(.occupied):hover {
  font-size: 18px;
}
.row .seat:nth-of-type(2) {
  margin-right: 10px;
}
.row .seat:nth-last-of-type(2) {
  margin-left: 10px;
}
#result {
  color: var(--light);
}
#count {
  color: var(--selected-seat);
}
#amount {
  color: var(--selected-seat);
}

@media screen and (max-width: 540px) {
  .container {
    width: 96%;
  }
}
@media screen and (max-width: 280px) {
  .container {
    width: 99%;
  }
  .movie-select-container {
    width: 100%;
  }
  .movie-select-container select {
    width: 180px;
    padding: 5px 10px;
  }
}
